<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 
        Launchpad 
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">

<body>
    <nav class="topbar">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Company Logo">
            </a>
        </div>
        <div class="nav-links">
            {% block cvbutton %}{% endblock %}
            
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="login-btn" style="cursor: pointer;">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'signup' %}" class="arrow-btn">Sign up</a>
                <a href="{% url 'login' %}" class="login-btn">Login</a>
            {% endif %}
            </div>        
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>