<!DOCTYPE html>
{% load static %}
<html lang="en">
    <link rel="icon" type="launchpad\static\images\Screenshot 2026-04-02 141234.png" href="/favicon.png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 
        Launchpad 
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" href="G:\My Drive\L3DTSD\Level 3 CV BUILDER ASSESMENT\launchpad\static\images\Screenshot 2026-04-02 141234.png">
</head>
<body>
    <nav class="topbar">
        <div class="logo"></div>
    
        <div class="nav-right">

            {% block cvbutton %}{%endblock%}
            
            <button class="arrow-btn">→</button>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>