<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 
        Launchpad 
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    
<body>
    <nav class="topbar">
        <div class="logo"></div>

            {% block cvbutton %}{%endblock%}
            <a href="{% url 'signup' %}" class="arrow-btn">→</a>
        </div>
    
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>